<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:usesCleartextTraffic="true"
        android:icon="@mipmap/appicon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/appicon"
        android:supportsRtl="true"
        android:theme="@style/Theme.GymHome">
        <activity
            android:name=".activity.DangKyBaiTapLon"
            android:exported="false" />
        <activity
            android:name=".activity.VungTapTrung"
            android:exported="false" />
        <activity
            android:name=".activity.DanhSachBaiTapLon"
            android:exported="false" />
        <activity
            android:name=".activity.BaiTapNho"
            android:exported="false" />
        <activity
            android:name=".activity.DanhSachBaiTapNho"
            android:exported="false" />
        <activity
            android:name=".activity.MainActivity"
            android:exported="false" />
        <activity
            android:name=".activity.DanhSachThuThach"
            android:exported="false" />
        <activity
            android:name=".activity.ChiTietThuThach"
            android:exported="false" />
        <activity
            android:name=".activity.Register"
            android:exported="false" />
        <activity
            android:name=".activity.Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>